connexion >= 2.6.0
connexion[swagger-ui, flask, uvicorn] >= 2.6.0
python_dateutil == 2.6.0
setuptools >= 21.0.0
swagger-ui-bundle >= 0.0.2
boto3 >= 1.29.6
transformers ~= 4.35.2
flax ~= 0.7.5
six ~= 1.16.0
flask~=3.0.0
botocore~=1.32.6
requests~=2.31.0
starlette~=0.32.0.post1
uvicorn~=0.24.0.post1